apiVersion: v1
kind: Pod
metadata:
  name: redis
  namespace: sample-maven-project
  labels:
    app: redis
spec:
  containers:
    - name: redis
      image: redis:alpine
      ports:
        - containerPort: 6379
